[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "~=1.0"
openai = "~=0.27"
panel = "~=1.1.0"

[dev-packages]

[scripts]
start = "panel serve src/app.py --show --autoreload"

[requires]
python_version = "3.10"
